.flex {
    display: flex;
}
.direction-column {
    display: flex;
    flex-direction: column;
}
.grid {
    display: grid;
}
.space-between {
    display: flex;
    justify-content: space-between;
}
.flex-align-center {
    display: flex;
    align-items: center;
}
.flex-center-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.centerByMargin {
    margin: 0 auto;
}
