@media (max-width: 800px) {
    /* Weather responsive */
    .container {
        height: 100%;
        padding-bottom: 100px;
    }
    .header-container .mobileResolution {
        display: none;
    }
    .extra-weather-stats .event-right-side {
        padding-left: 18px;
    }
    .extra-weather-stats .event-left-side {
        padding-right: 18px;
    }
    .container header nav ul a {
        font-size: 20px;
    }
    .container header {
        padding: 28px 20px;
    }
    .header-container {
        max-width: 95%;
    }
    .container .header-leftside p {
        font-size: 20px;
    }
    .middle-section {
        margin-top: 100px;
        gap: 30px;
    }
    .block {
        margin: 0 auto;
    }
    .middle-section {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    /* Form responsive */
    .form-container .form-section .form-box {
        margin-bottom: 25px;
    }
    .form-container .form-section {
        padding: 0;
    }
    .form-container .form-section .block {
        max-width: 100%;
        min-height: 100%;
        border-radius: 0;
        box-shadow: none;
        padding-top: 100px;
    }
    .inside-block-box .extra-buttons button {
        max-width: 170px;
        width: 100%;
        padding: 0 10px;
    }
    /* Main page introduction responsive */
    .aboutCompany .desktopNav {
        display: none;
    }
    .Introduction .aboutCompany {
        min-height: 60vh;
    }
    .Introduction .aboutCompany .desktopNav a {
        display: none;
    }
    .aboutCompany-box .mobileIcon {
        display: inline-block;
    }
    .aboutCompany-box .mobileNav {
        display: block;
        z-index: 20;
    }
    .Introduction .Authorization-part {
        display: none;
    }
    .Introduction .aboutCompany-box .info-textarea {
        grid-template-columns: 1fr;
    }
    .Introduction .aboutCompany-box .videoArea {
        display: none;
    }
    .aboutCompany .aboutCompany-box {
        padding-bottom: 20px;
    }
    .aboutCompany .aboutCompany-box h1 {
        max-width: 423px;
        width: 100%;
        line-height: 48px;
        font-size: 32px;
    }
    .Introduction .extraCompanyInfo-box {
        grid-template-columns: 1fr;
    }
    .Introduction .extraCompanyInfo-box span {
        font-size: 24px;
    }
    .Introduction .extraCompanyInfo-box div:first-child p {
        font-size: 24px;
        max-width: 200px;
        width: 100%;
    }
    .Introduction .aboutCompany-box .info-textarea {
        margin-top: 60px;
    }
    .buttons-box .videoBtn {
        display: inline-block;
    }

    /* Main page 'about team' responsive */

    .TeamBox .TeamTitle h2 {
        font-size: 24px;
        line-height: 36px;
    }
    .TeamBox .TeamText p:last-child {
        display: none;
    }
    .insideTeamContainer .TeamBox {
        padding: 170px 20px 20px 20px;
        width: 100%;
        height: auto;
    }
    .TeamBox .TeamImage {
        max-width: 327px;
        width: 100%;
        max-height: 272px;
        width: 100%;
        top: -150px;
        left: 50%;
        transform: translateX(-50%);
    }
    .TeamBox .TeamImage img {
        padding: 0 20px;
        height: 100%;
    }

    /* Main page 'Benefits' responsive */

    .benefits {
        grid-template-columns: 1fr;
        padding: 0px 30px;
        row-gap: 40px;
        column-gap: 0;
    }
    .BenefitsContainer .benefits .benefitsRightPart {
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .benefits .benefitsLeftPart .benefitsheadline {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .benefits .benefitsheadline h2 {
        font-size: 24px;
        line-height: 36px;
    }
    .benefits .benefitsheadline {
        max-width: 450px;
        width: 100%;
    }
    .benefits .advantagesHeadline div {
        max-width: 450px;
        width: 100%;
    }
    .advantagesHeadline div h3,
    .arrowIconBox {
        display: none;
    }
    .advantagesList ul {
        align-items: center;
    }

    /* Main page 'caseStudies responsive */

    .caseStudies .caseStudiesHeadline {
        flex-direction: column;
    }
    .caseStudies .caseStudiesHeadline h2 {
        max-width: 259px;
        width: auto;
        font-size: 24px;
        line-height: 36px;
    }
    .caseStudiesInfo p:nth-child(1) {
        margin-top: 10px;
    }
    .caseStudiesInfo p:nth-child(2) {
        font-size: 18px;
        margin-top: 7px;
    }
    .caseStudies .caseStudiesImage {
        max-width: 280px;
    }
}
