@media (max-width: 800px) {
    /* Weather responsive */
    .container {
        height: 100%;
        padding-bottom: 100px;
    }
    .container header nav ul a {
        font-size: 20px;
    }
    .container header {
        padding: 28px 20px;
    }
    .header-container {
        max-width: 95%;
    }
    .container .header-leftside p {
        font-size: 20px;
    }
    .middle-section {
        margin-top: 100px;
        gap: 30px;
    }
    .block {
        margin: 0 auto;
    }
    .middle-section {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    /* Form responsive */
    .form-container .form-section .form-box {
        margin-bottom: 25px;
    }
    .form-container .form-section {
        padding: 0;
    }
    .form-container .form-section .block {
        max-width: 100%;
        min-height: 100%;
        border-radius: 0;
        box-shadow: none;
        padding-top: 100px;
    }
    /* Main page responsive */

    .Introduction .aboutCompany {
        min-height: 60vh;
    }
    .Introduction .aboutCompany .desktopNav a {
        display: none;
    }
    .aboutCompany-box .mobileIcon {
        display: inline-block;
    }
    .aboutCompany-box .mobileNav {
        display: block;
    }
    .Introduction .Authorization-part {
        display: none;
    }
    .Introduction .aboutCompany-box .info-textarea {
        grid-template-columns: 1fr;
    }
    .Introduction .aboutCompany-box .videoArea {
        display: none;
    }
    .aboutCompany .aboutCompany-box {
        padding-bottom: 20px;
    }
    .aboutCompany .aboutCompany-box h1 {
        max-width: 423px;
        width: 100%;
        line-height: 48px;
        font-size: 32px;
    }
    .Introduction .extraCompanyInfo-box {
        grid-template-columns: 1fr;
    }
    .Introduction .extraCompanyInfo-box span {
        font-size: 24px;
    }
    .Introduction .extraCompanyInfo-box div:first-child p {
        font-size: 24px;
        max-width: 200px;
        width: 100%;
    }
    .Introduction .aboutCompany-box .info-textarea {
        margin-top: 60px;
    }
    .buttons-box .videoBtn {
        display: inline-block;
    }
}
