* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

/* background photo */
.container {
    background-image: url("./images/Rectangle 2.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 50px;
}
.container header {
    background-color: rgba(255, 255, 255, 0.19);
    padding: 28px 40px;
}
.container header p {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
}
.container header nav ul {
    list-style: none;
    gap: 20px;
}
.container header nav ul a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
}

/* Header side */
.header-container {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}
.header-leftside {
    gap: 25px;
}
.header-leftside a {
    text-decoration: none;
}
.icon {
    width: 50px;
}
.header-icons {
    position: relative;
}
.sun-header-icon {
    position: absolute;
    left: -2px;
    top: -10px;
}
.middle-section .block {
    max-width: 450px;
    width: 100%;
    min-height: 575px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 48px;
}

/* first block */
.middle-section {
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 187px;
    gap: 10px;
    padding: 0 20px;
}
#block1 {
    padding-top: 30px;
}
.icon-date-part {
    max-width: 350px;
    margin: 0 auto;
    align-items: center;
    padding-right: 20px;
}
.icon-date-part img {
    width: 37px;
}
.icon-date-part p:first-child {
    font-size: 24px;
    color: #fff;
}
.icon-date-part p:last-child {
    font-size: 18px;
    color: #fff;
}
.temp-indicator-part {
    max-width: 300px;
    margin: 0 auto;
}
.temp-indicator-part div {
    display: flex;
    justify-content: center;
    align-items: top;
    gap: -5px;
}
.temp-indicator-part div span {
    width: 24px;
    color: #fff;
    margin-top: 50px;
}
.temp-indicator-part p:first-child {
    font-size: 140px;
    color: #fff;
}
.temp-indicator-part p:last-child {
    font-size: 18px;
    color: #fff;
    margin-top: -30px;
}
.extra-weather-stats {
    grid-template-columns: repeat(2, 1fr);
    max-width: 370px;
    margin: 0 auto;
    row-gap: 30px;
    margin-top: 75px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.extra-weather-stats img {
    margin-right: 0px;
    vertical-align: middle;
    margin-right: 5px;
}
.extra-weather-stats p {
    font-size: 18px;
    vertical-align: middle;
    color: #fff;
    display: inline-block;
}
.visibility-icon,
.humiduty-icon {
    width: 20px;
}
.temp-icon {
    width: 12px;
}
.wind-icon {
    width: 19px;
}

.item {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #fff;
}
.event-right-side {
    padding-left: 30px;
    flex-wrap: wrap;
}
.event-left-side {
    padding-right: 30px;
    flex-wrap: wrap;
}

/* second block */
.plus-icon {
    width: 48px;
}
.plus-icon-box {
    width: 130px;
    height: 130px;
    background-color: #ffffff42;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.adder-title p {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}
.adder-block {
    height: 100%;
}

/* Footer */
.container footer {
    position: sticky;
    top: 100%;
}
.weather-footer {
    margin-top: 230px;
}
.weather-footer p {
    color: #fff;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
}
.weather-footer img {
    vertical-align: middle;
}

/*      Form Styles      */
.form-container {
    background-color: #679cf6;
    background-size: 100% 100%;
}
.bg-illustration {
    background-image: url("./images/Illustration-black.png");
    background-size: contain;
    height: 100vh;
    background-repeat: no-repeat;
}
.form-container .block {
    background-color: #ffffff;
    padding-top: 60px;
    max-width: 611px;
    width: 100%;
    height: 832px;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}
.form-section {
    max-width: 1600px;
    width: 100%;
    height: 100vh;
    padding: 0 40px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.form-section h2 {
    font-size: 48px;
    font-weight: normal;
    color: #31394d;
    letter-spacing: 1px;
    margin-bottom: 8px;
}
.form-section p {
    font-size: 16px;
    font-weight: normal;
    color: #748aa1;
    letter-spacing: 0.3px;
    margin-bottom: 40px;
}
#valueCheck {
    margin-bottom: 0;
}
.form-box {
    box-shadow: 0px 1px 4px #e5e9f2;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 40px;
}
.form-box label {
    font-size: 12px;
    font-weight: normal;
    color: #748aa1;
    margin-bottom: 10px;
    margin-left: 12px;
}
.form-box button {
    max-width: 391px;
    width: 100%;
    height: 51px;
    background-color: #29cb97;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    border: none;
    border-radius: 5px;
    display: inherit;
    margin: 0 auto;

    cursor: pointer;
}
.form-box input::placeholder {
    font-size: 16px;
    color: #31394d;
    font-weight: normal;
}
#Email,
#country {
    height: 51px;
    border-radius: 5px;
    border: 2px solid #ebedf4;
    padding-left: 12px;
    font-size: 16px;
}
#City,
#CountryCode {
    height: 51px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #ebedf4;
    padding-left: 12px;
    font-size: 16px;
}
select {
    background-color: transparent;
}
.inside-block-box {
    max-width: 491px;
    width: 100%;
    padding: 0 20px;
}

.input-part-box {
    margin-bottom: 35px;
}
.extra-buttons button {
    width: 204px;
    height: 60px;
    font-size: 14px;
    color: #ffffff;
    font-weight: normal;
    cursor: pointer;

    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.extra-buttons div:first-child button {
    background-color: #255b9b;
}
.extra-buttons div:last-child button {
    background-color: #00adee;
}
.Drop-down-menu {
    position: relative;
}
#CountryList {
    border: none;
    width: 80px;
    outline: none;
    font-size: 14px;
    color: #748aa1;
    position: absolute;
    right: 12px;
    top: 42px;
}

/* main page styles */

.Introduction {
    position: relative;
}
.aboutCompany {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(210, 210, 210, 1) 0%,
        rgba(199, 199, 199, 1) 13%,
        rgba(179, 179, 179, 1) 26%,
        rgba(0, 0, 0, 1) 100%
    );
    background-repeat: no-repeat;
    background-size: auto;
}
.aboutCompany-box {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px 50px 20px;
}
.logo-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ff9f34;
}
.aboutCompany a {
    text-decoration: none;
    color: #fff;
}
.logo-circle a {
    font-size: 18px;
    font-weight: 600;
}
.logo-title a {
    font-size: 24px;
    font-weight: 600;
}
.Authorization-part,
.logo-part {
    gap: 15px;
}
.aboutCompany .desktopNav ul {
    list-style: none;
    gap: 30px;
}
.Authorization-part a:last-child {
    font-weight: 500;
    padding: 10px 30px;
    border: 1px solid #fff;
}
.Authorization-part a:last-child:hover {
    background-color: rgba(255, 255, 255, 0.28);
    transition: background-color 0.14s;
}
.Authorization-part a:last-child:not(:hover) {
    background-color: transparent;
    transition: background-color 0.14s;
}
.aboutCompany-box {
    color: #fff;
}
.aboutCompany-box h1 {
    max-width: 529px;
    width: 100%;
    letter-spacing: 1px;
    line-height: 72px;
    font-size: 52px;
    font-weight: 700;
}
.aboutCompany-box p {
    max-width: 514px;
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    line-height: 32px;
    margin-top: 20px;
}
.headline {
    max-width: 520px;
    width: 100%;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 72px;
    font-size: 52px;
}
.insideHeader {
    gap: 10px;
}

/*  mobile nav styles  */
.mobileNav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    margin-top: 180px;
    font-size: 20px;
}
.mobileNav ul li::after {
    content: "";
    display: block;
    width: 120px;
    height: 1.5px;
    background-color: #fff;
}
.mobileNav {
    position: absolute;
    background-color: rgba(34, 34, 34, 0.819);
    width: 100%;
    left: 0;
    right: 0;
    height: 100vh;
    transition: top 0.6s;
    display: none;
}
.mobileIcon {
    position: relative;
    z-index: 999;
    display: none;
    cursor: pointer;
}
.hide {
    top: -100vh;
}
.show {
    height: 105vh;
    top: 0;
    backdrop-filter: blur(3px);
}
.scrollHide {
    overflow-y: hidden;
}

/* buttons */
.buttons-box {
    max-width: 340px;
    width: 100%;
    margin-top: 40px;
    gap: 10px;
    flex-wrap: wrap;
}
.aboutCompany-box .getStartedBtn {
    width: 165px;
    height: 56px;
    font-size: 16px;

    border: none;
    color: #ffffff;
    cursor: pointer;
}
.aboutCompany-box .getStartedBtn:hover {
    background-color: #ffb45f;
    transition: background-color 0.15s;
}
.aboutCompany-box .getStartedBtn:not(:hover) {
    background-color: #ff9f34;
    transition: background-color 0.15s;
}
.videoBtn {
    display: none;
    width: 165px;
    height: 56px;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}
.aboutCompany-box .videoBtn:hover {
    background-color: rgb(66, 66, 66);
    transition: background-color 0.15s;
}
.aboutCompany-box .videoBtn:not(:hover) {
    background-color: transparent;
    transition: background-color 0.15s;
}

.aboutCompany-box .info-textarea {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(400px, auto);
    gap: 40px;
    margin-top: 150px;
}
.aboutCompany-box .info-textarea .videoIconBg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    margin-top: -150px;
}

.extraCompanyInfo {
    background-color: #fceee0;
}
.extraCompanyInfo-box {
    max-width: 1350px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    align-items: center;
    padding: 90px 20px;
}
.extraCompanyInfo-box span {
    font-size: 40px;
    font-weight: 700;
}
.extraCompanyInfo-box div:first-child p {
    font-size: 40px;
}
.extraCompanyInfo-box div:last-child p {
    font-size: 16px;
    line-height: 32px;
    font-weight: normal;
    max-width: 470px;
    width: 100%;
}

/*   about company team styles   */

.insideTeamContainer {
    position: relative;
}
.TeamBox {
    max-width: 1150px;
    width: 100%;
    background-color: #402613;
    margin-top: 300px;

    position: sticky;
    left: 100%;
    padding-left: 500px;
    padding-top: 50px;
    color: #fff;

    min-height: 540px;
    height: auto;
    padding-bottom: 20px;
}
.insideTeamContainer {
    position: relative;
}
.TeamImage {
    max-width: 600px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    position: absolute;
    z-index: 20;
    top: -200px;
    left: -200px;
}
.TeamImage img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.TeamTitle {
    max-width: 445px;
    width: auto;
}
.TeamTitle h2 {
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.5px;
}
.TeamText {
    max-width: 514px;
    width: 100%;
    font-weight: normal;
}
.TeamText p {
    font-size: 16px;
    line-height: 32px;
}
.TeamText p:first-child {
    margin-top: 40px;
}
.TeamText p:last-child {
    font-size: 16px;
    margin-top: 30px;
    line-height: 32px;
}
.insideTeamBox {
    max-width: 500px;
    width: 100%;
}

/*   working Benefits styles   */

.BenefitsContainer {
    max-width: 1350px;
    width: 100%;
    margin: 200px auto 0px auto;
}
.BenefitsContainer .benefitsheadline h2 {
    color: #1e1000;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.5px;
}
.benefitsheadline {
    max-width: 536px;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
}
.benefits {
    grid-template-columns: 1fr 1.5fr;
    row-gap: 60px;
    column-gap: 50px;
    padding: 0 20px;
}
.benefitsRightPart img {
    width: 100%;
    height: 100%;
}
.advantagesHeadline h3 {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.5px;
    color: #121212;
    margin-bottom: 25px;
}
.advantagesHeadline p {
    font-weight: normal;
    color: #1e1000b5;
    line-height: 32px;
    font-size: 16px;
    max-width: 356px;
    width: 100%;
    margin-bottom: 55px;
}
.advantagesList ul {
    list-style: none;
    gap: 45px;
}
.advantagesList ul li {
    border: 1px solid #dddddd;
    max-width: 450px;
    width: 100%;
    min-height: 80px;
    height: auto;
    justify-content: space-between;
    padding: 0 20px 0 15px;
}
.advantagesList ul li p:first-child {
    font-size: 18px;
    font-weight: 500;
    color: #1e1000;
}
.advantagesList ul li p:last-child {
    font-weight: normal;
    font-size: 16px;
    color: #1e1000b5;
}
.advantagesList .icon-div {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #ff9f3414;
    margin-right: 20px;
}

/*   Case studiesthat company have worked styles   */

/*   Swiper works after refresh   */

.caseStudies {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 180px;
}
.caseStudies .caseStudiesHeadline {
    gap: 20px;
}
.caseStudiesHeadline h2 {
    font-size: 40px;
    line-height: 60px;
    color: #1e1000;
    max-width: 440px;
    width: 100%;
}
.caseStudiesHeadline p {
    font-size: 16px;
    line-height: 32px;
    color: #1e1000b5;
    max-width: 480px;
    width: 100%;
}
.caseStudiesworksBox .caseStudiesImage {
    max-width: 400px;
    width: 100%;
    max-height: 300px;
    height: 100%;
}
.caseStudiesImage img {
    width: 100%;
}
.caseStudiesInfo p:nth-child(1) {
    color: #ff9f34;
    font-size: 16px;
    margin-top: 20px;
}
.caseStudiesInfo p:nth-child(2) {
    font-size: 24px;
    letter-spacing: 0.5px;
    font-weight: 600;
    color: #1e1000;
    margin-top: 15px;
}
.caseStudiesInfo p:nth-child(3) {
    font-size: 16px;
    font-weight: normal;
    color: #1e1000b5;
    margin-top: 10px;
    max-width: 300px;
    width: 100%;
    line-height: 32px;
}
.caseStudies .caseStudiesworksBox {
    margin-top: 60px;
    gap: 10px;
}
.caseStudies .mySwiper {
    max-width: 300px;
}

/*   Case studies that company have worked styles   */
.frequentlyQuestions {
    max-width: 1350px;
    width: 100%;
    padding: 0 20px;
}
.questionItem {
    border: 1px solid #dddddd;
    padding: 20px 35px;
}
.frequentlyQuestionsbody {
    row-gap: 50px;
    margin-top: 50px;
}
.frequentlyQuestionsbody .questionItem p:first-child {
    font-size: 20px;
    font-weight: 500;
    color: #1e1000;
    margin-bottom: 10px;
}
.frequentlyQuestionsbody .questionItem p:last-child {
    font-size: 16px;
    font-weight: 400;
    color: #aaaaaa;
    line-height: 32px;
    max-width: 1000px;
    width: 100%;
}
.frequentlyQuestions .frequentlyQuestionsHeadline {
    margin-top: 200px;
    text-align: center;
}
.frequentlyQuestions .frequentlyQuestionsHeadline h2 {
    margin-bottom: 20px;
    font-size: 40px;
    color: #1e1000;
    letter-spacing: -0.5px;
}
.frequentlyQuestions .frequentlyQuestionsHeadline p {
    max-width: 500px;
    width: 100%;
    line-height: 28.8px;
    font-weight: 400;
    font-size: 16px;
}
.showText {
    display: inline-block;
}
.hideText {
    display: none;
}
.frequentlyQuestionsbody .questionItem {
    cursor: pointer;
}
