* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

/* background photo */
.container {
    background-image: url("./images/Rectangle 2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.container header {
    background-color: rgba(255, 255, 255, 0.19);
    padding: 28px 40px;
}
.container header p {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
}
.container header nav ul {
    list-style: none;
    gap: 20px;
}
.container header nav ul a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
}

/* Header side */
.header-container {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}
.header-leftside {
    gap: 25px;
}
.header-leftside a {
    text-decoration: none;
}
.icon {
    width: 50px;
}
.header-icons {
    position: relative;
}
.sun-header-icon {
    position: absolute;
    left: -2px;
    top: -10px;
}
.block {
    width: 450px;
    height: 575px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 48px;
}

/* first block */
.middle-section {
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 187px;
    gap: 10px;
    padding: 0 20px;
}
#block1 {
    padding-top: 30px;
}
.icon-date-part {
    max-width: 350px;
    margin: 0 auto;
    align-items: center;
    padding-right: 20px;
}
.icon-date-part img {
    width: 37px;
}
.icon-date-part p:first-child {
    font-size: 24px;
    color: #fff;
}
.icon-date-part p:last-child {
    font-size: 18px;
    color: #fff;
}
.temp-indicator-part {
    max-width: 300px;
    margin: 0 auto;
}
.temp-indicator-part div {
    display: flex;
    justify-content: center;
    align-items: top;
    gap: -5px;
}
.temp-indicator-part div span {
    width: 24px;
    color: #fff;
    margin-top: 50px;
}
.temp-indicator-part p:first-child {
    font-size: 140px;
    color: #fff;
}
.temp-indicator-part p:last-child {
    font-size: 18px;
    color: #fff;
    margin-top: -30px;
}
.extra-weather-stats {
    grid-template-columns: repeat(2, 1fr);
    max-width: 370px;
    margin: 0 auto;
    row-gap: 30px;
    margin-top: 75px;
}
.extra-weather-stats img {
    margin-right: 0px;
    vertical-align: middle;
    margin-right: 5px;
}
.extra-weather-stats p {
    font-size: 18px;
    vertical-align: middle;
    color: #fff;
    display: inline-block;
}
.visibility-icon,
.humiduty-icon {
    width: 20px;
}
.temp-icon {
    width: 12px;
}
.wind-icon {
    width: 19px;
}

.item {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #fff;
}
.event-right-side {
    padding-left: 25px;
}
.event-left-side {
    padding-right: 25px;
}

/* second block */
.plus-icon {
    width: 48px;
}
.plus-icon-box {
    width: 130px;
    height: 130px;
    background-color: #ffffff42;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 30px;
}
.adder-title p {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}
.adder-block {
    height: 100%;
}

/* Footer */
.weather-footer {
    margin-top: 230px;
}
.weather-footer p {
    color: #fff;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
}
.weather-footer img {
    vertical-align: middle;
}
